Repository asd-xiv/m: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js-staged, npm run lint:md-staged

chore: fix linting errors
  src/sort/sort-with.js
  src/sort/sort.js
Due: npm run lint:js-staged

docs: regenerate
  docs/index.html
  documentation.yml
  src/zip-to-object/zip-to-object.js
Due: npm run lint:js-staged

chore(release): 6.3.0 [skip ci]
  CHANGELOG.md
  package.json
Due: npm run lint:js-staged, npm run lint:md-staged

Notes added by 'git notes add'
  06c84d5b3510c536328d92ae2db7920e0c37c9fd
Due: none

fix(sortWith): add curried version
  src/sort/sort-with.js
  src/sort/sort.test.js
Due: npm run lint:js-staged

chore: update packages
  package-lock.json
  package.json
Due: npm run lint:js-staged

chore: fix linting errors
  CHANGELOG.md
Due: npm run lint:md-staged

chore(release): 6.3.1 [skip ci]
  CHANGELOG.md
  package.json
Due: npm run lint:js-staged, npm run lint:md-staged

Notes added by 'git notes add'
  07e50beb2ddd9cb4e9e5c2cd6595bc86ce57db19
Due: none

feat: update packages
  package-lock.json
  package.json
Due: npm run lint:js-staged

chore: fix linting errors
  src/replace/replace.js
  src/to-lower/to-lower.js
  src/to-upper/to-upper.js
  src/unite/unite.js
Due: npm run lint:js-staged

chore: fix lint errors
  CHANGELOG.md
Due: npm run lint:md-staged

chore(release): 6.4.0 [skip ci]
  CHANGELOG.md
  package.json
Due: npm run lint:js-staged, npm run lint:md-staged

Notes added by 'git notes add'
  a0d456e7a10cf952e59a84d9671ed864804b46a5
Due: none

chore(release): 6.5.0 [skip ci]
  CHANGELOG.md
  package.json
Due: npm run lint:js-staged, npm run lint:md-staged

Notes added by 'git notes add'
  60a65154ace64af0afb31989e431850c89054df2
Due: none

chore(release): 6.6.0 [skip ci]
  CHANGELOG.md
  package.json
Due: npm run lint:js-staged, npm run lint:md-staged

Notes added by 'git notes add'
  b054815c79132c93d7bb4a59c17390490d0c4649
Due: none

feat: update dependencies
  package-lock.json
  package.json
Due: npm run lint:js-staged

chore: rename to .c8rc
  .c8rc
Due: none

chore(release): 7.0.0 [skip ci]
  CHANGELOG.md
  package.json
Due: npm run lint:js-staged, npm run lint:md-staged

Notes added by 'git notes add'
  d23a89b6697cf8d4b9de598dcff80387701f2bdd
Due: none

chore: remove dev packages badge
  README.md
Due: npm run lint:md-staged

chore: fix linting error
  CHANGELOG.md
Due: npm run lint:md-staged

fix: issue with "deepEqual" not correctly exported from 3rd party lib
  src/index.js
Due: npm run lint:js-staged

chore(release): 7.1.0 [skip ci]
  CHANGELOG.md
  package.json
Due: npm run lint:js-staged, npm run lint:md-staged

Notes added by 'git notes add'
  709dd057fc6c91040090d7e010a5b772664bba29
Due: none

feat(deep-equal): add curried version
  src/deep-equal/deep-equal.bench.js
  src/deep-equal/deep-equal.js
  src/deep-equal/deep-equal.own.js
  src/deep-equal/deep-equal.test.js
  src/index.js
Due: npm run lint:js-staged

test: add more tests to "isMatch" and "findWith"
  src/find/find.test.js
  src/is-match/is-match.test.js
Due: npm run lint:js-staged

chore(release): 7.2.0 [skip ci]
  CHANGELOG.md
  package.json
Due: npm run lint:js-staged, npm run lint:md-staged

Path conditions:
  npm run lint:js-staged: any of: *.{js,json}
  npm run lint:md-staged: any of: *.md
