Repository asd-xiv/m: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js-staged, npm run lint:md-staged

chore(release): 7.3.0 [skip ci]
  CHANGELOG.md
  package.json
Due: npm run lint:js-staged, npm run lint:md-staged

Notes added by 'git notes add'
  3a/ec3fad3a62f6296956324bb785bc037526c7e9
Due: none

feat: update dependencies
  package-lock.json
  package.json
Due: npm run lint:js-staged

chore: fix linting errors
  CHANGELOG.md
Due: npm run lint:md-staged

chore(release): 7.4.0 [skip ci]
  CHANGELOG.md
  package.json
Due: npm run lint:js-staged, npm run lint:md-staged

Notes added by 'git notes add'
  e6/0cefd91dcd339f78f2216d52b5d0331e7fe9f5
Due: none

fix: linting errors
  CHANGELOG.md
Due: npm run lint:md-staged

chore(release): 7.5.0 [skip ci]
  CHANGELOG.md
  package.json
Due: npm run lint:js-staged, npm run lint:md-staged

Notes added by 'git notes add'
  8f/11209d34f6a7bca1fb3d0f2397f9f167d778b9
Due: none

fix: adds a failing test for bottom when source size is one
  src/bottom/bottom.test.js
Due: npm run lint:js-staged

fix: adds a failing test for bottom when source size is one
  src/bottom/bottom.js
Due: npm run lint:js-staged

fix(bottom): issue returning an empty array when source size is exactly 1 and limit is grater (#13)
  src/bottom/bottom.js
  src/bottom/bottom.test.js
Due: npm run lint:js-staged

chore(release): 7.5.1 [skip ci]
  CHANGELOG.md
  package.json
Due: npm run lint:js-staged, npm run lint:md-staged

Notes added by 'git notes add'
  81/3fb2f0e718a953410a81a7c730fc9af8e2ece6
Due: none

ci: modernize CircleCI config
  .circleci/config.yml
Due: none

chore: rename .githook folder to .githooks
  .githook/commit-msg
  .githook/pre-commit
  .githooks/commit-msg
  .githooks/post-checkout
  .githooks/post-merge
  .githooks/pre-commit
  .githooks/pre-push
Due: none

feat: update dependencies, switch to swc, var build tools updates
  .babelrc
  .c8rc
  .commitlintrc
  .editorconfig
  .eslintrc
  .github/pull_request_template.md
  .gitignore
  .lintstagedrc
  .markdownlintrc
  .releaserc
  .swcrc
  CHANGELOG.md
  README.md
  docs/index.html
  package-lock.json
  package.json
  src/index.test.js
Due: npm run lint:js-staged, npm run lint:md-staged

chore: disable commitlint body length rule
  .commitlintrc
Due: none

chore(release): set `package.json` to 7.6.0 [skip ci]
  package.json
Due: npm run lint:js-staged

Notes added by 'git notes add'
  16/d2b0dc943ac47ddce165bb0ef10e5af93ee57a
Due: none

feat: add contributors
  README.md
  package.json
Due: npm run lint:js-staged, npm run lint:md-staged

chore: format
  .commitlintrc
  package-lock.json
Due: npm run lint:js-staged

chore(release): set `package.json` to 7.7.0 [skip ci]
  package.json
Due: npm run lint:js-staged

Notes added by 'git notes add'
  b0/0d5395d5376dd4ad3cc0d4cedcb93816f8a1bf
Due: none

ci: update semantic-release to enable "next" branch
  .releaserc
Due: none

chore(release): set `package.json` to 7.7.0-next.1 [skip ci]
  package.json
Due: npm run lint:js-staged

Notes added by 'git notes add'
  66/4cac986eb6b337c1188003a1aee92ea210f9ae
Due: none

fix: issue with wrong path in package.json "exports" field
  package.json
Due: npm run lint:js-staged

chore(release): set `package.json` to 7.7.0-next.2 [skip ci]
  package.json
Due: npm run lint:js-staged

Notes added by 'git notes add'
  ad/8b9365f916a93a92f11aebd803fc7c80d4d5c2
Due: none

chore(release): set `package.json` to 7.7.1 [skip ci]
  package.json
Due: npm run lint:js-staged

Notes added by 'git notes add'
  14/d58d9b643f56ad65be4e8ea649330afcbe5a48
Due: none

docs: update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: npm run lint:md-staged

chore: rename vars
  .githooks/post-checkout
  .githooks/post-merge
Due: none

docs: update GitHub issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: npm run lint:md-staged

ci: use workspace, update executors, add gitleaks check
  .circleci/config.yml
Due: none

ci: run test job in multiple node environments
  .circleci/config.yml
Due: none

Path conditions:
  npm run lint:js-staged: any of: *.{js,json}
  npm run lint:md-staged: any of: *.md
