Repository asd-xiv/m: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js-staged, npm run lint:md-staged

.lintstagedrc:

{
  "*.{js,json}": "npm run lint:js-staged",
  "*.md": "npm run lint:md-staged"
}

chore: Remove unused scripts
  .circleci/config.yml
  package-lock.json
  package.json
Due: npm run lint:js-staged

chore(release): 5.4.0 [skip ci]
  CHANGELOG.md
  package.json
Due: npm run lint:js-staged, npm run lint:md-staged

Notes added by 'git notes add'
  99e3c3b0d4e0a5c1efff462145d059e77cf01082
Due: none

chore: Add Github PR template file
  .github/pull_request_template.md
Due: npm run lint:md-staged

chore: Update packages after "npm audit fix" script
  package-lock.json
Due: npm run lint:js-staged

feat: Update `distinct` to use shallow equal and add `distinctBy` to allow custom compare function
  src/distinct/distinct.js
  src/distinct/distinct.test.js
Due: npm run lint:js-staged

feat: Add `overlap` and `overlapBy` functions to combine 2 arrays into a set (array of unique items)
  src/overlap/overlap.js
  src/overlap/overlap.test.js
Due: npm run lint:js-staged

feat: Add `intersect` and `intersectBy` functions to obtain common items in 2 arrays
  src/index.js
  src/intersect/intersect.js
  src/intersect/intersect.test.js
Due: npm run lint:js-staged

chore: update packages
  package-lock.json
  package.json
Due: npm run lint:js-staged

feat: rename "join" -> "unit", "overlap" -> "join"
  src/join/join.js
  src/join/join.test.js
  src/unite/unite.js
  src/unite/unite.test.js
Due: npm run lint:js-staged

chore: fix linting errors
  .commitlintrc
  .releaserc
  src/distinct/distinct.bench.js
  src/index.js
  src/index.test.js
  src/is-uri/is-uri.js
  src/overlap/overlap.js
  src/overlap/overlap.test.js
  src/rename-file/rename-file.js
Due: npm run lint:js-staged

feat: Rework `intersect`, add `overlap` (#8)
  .commitlintrc
  .releaserc
  package-lock.json
  package.json
  src/distinct/distinct.bench.js
  src/distinct/distinct.js
  src/distinct/distinct.test.js
  src/index.js
  src/index.test.js
  src/intersect/intersect.js
  src/intersect/intersect.test.js
  src/is-uri/is-uri.js
  src/join/join.js
  src/join/join.test.js
  src/rename-file/rename-file.js
  src/unite/unite.js
  src/unite/unite.test.js
Due: npm run lint:js-staged

chore: fix linting errors
  CHANGELOG.md
Due: npm run lint:md-staged

chore(release): 6.0.0 [skip ci]
  CHANGELOG.md
  package.json
Due: npm run lint:js-staged, npm run lint:md-staged

Notes added by 'git notes add'
  545f2659f50ead55f545d6f172b2a7f97460737c
Due: none

chore: fix coveralls coverage submission
  package.json
Due: npm run lint:js-staged

chore: fix other linting errors
  .markdownlintrc
  CHANGELOG.md
Due: npm run lint:md-staged

feat: setup
  .eslintrc
  package-lock.json
  package.json
  src/all/all.ts
  src/is-match/is-match.ts
  tsconfig.json
  types/helpers.d.ts
Due: npm run lint:js-staged

feat: update packages
  README.md
  package-lock.json
  package.json
Due: npm run lint:js-staged, npm run lint:md-staged

chore(release): 6.1.0 [skip ci]
  CHANGELOG.md
  package.json
Due: npm run lint:js-staged, npm run lint:md-staged

Notes added by 'git notes add'
  c7a7f93b8069b10cffbc049351e19cac5dbcdfd8
Due: none

feat: add values as counterpart to keys
  src/values/values.js
  src/values/values.test.js
Due: npm run lint:js-staged

chore: adds values to index.js
  src/index.js
  src/values/values.js
Due: npm run lint:js-staged

chore: update PR template
  .github/pull_request_template.md
Due: npm run lint:md-staged

feat: use spread to avoid mutations in values
  src/values/values.js
Due: npm run lint:js-staged

feat: add `values` function (#9)
  src/index.js
  src/values/values.js
  src/values/values.test.js
Due: npm run lint:js-staged

chore(release): 6.2.0 [skip ci]
  CHANGELOG.md
  package.json
Due: npm run lint:js-staged, npm run lint:md-staged

Notes added by 'git notes add'
  6c755317985d9c2a27f91be6704138e7314d7100
Due: none

feat: update packages
  .eslintignore
  .prettierignore
  package-lock.json
  package.json
Due: npm run lint:js-staged

feat: add `sortBy`, rework `sort` and `sortWith`
  src/index.js
  src/sort/sort-with.js
  src/sort/sort.js
  src/sort/sort.test.js
Due: npm run lint:js-staged

feat(sortWith): add tests for errors
  src/sort/sort.test.js
Due: npm run lint:js-staged

feat: add `sortBy`, rework `sort` and `sortWith` (#11)
  package-lock.json
  package.json
  src/index.js
  src/sort/sort-with.js
  src/sort/sort.js
  src/sort/sort.test.js
Due: npm run lint:js-staged

chore: update packages
  .babelrc
  README.md
  package-lock.json
  package.json
Due: npm run lint:js-staged, npm run lint:md-staged

chore: update linting rules, remove custom
  .eslintrc
  package-lock.json
  package.json
Due: npm run lint:js-staged

chore: fix linting errors
  src/all/all.js
  src/clone/clone.test.js
  src/converge/converge.js
  src/curry/curry.js
  src/find/find.js
  src/is-between/is-between.js
  src/map/map.js
  src/page/page.js
  src/pipe-p/pipe-p.js
  src/pipe/pipe.js
  src/push/push.bench.js
  src/push/push.js
  src/sequence/sequence.test.js
  src/spy/spy.js
  src/try-catch/try-catch.js
Due: npm run lint:js-staged

chore: regenerate package-lock using latest npm and node lts
  package-lock.json
Due: npm run lint:js-staged
